html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5px;
}
#canvas {
    flex: 1 1 0;
    border: 1px solid black;
    min-height: 0;
}
#canvas, #controls {
    border: 1px solid black;
}
#controls {
    flex-basis: 200px;
    padding: 5px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#controls button {
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    width: 100%;
    background-color: transparent;
}
#controls button.off {
    background-color: grey;
}
#controls.disabled button {
    color: lightgray;
    border-color: lightgray;
    cursor: default;
}
#controls.disabled button.off {
    background-color: #ddd;
}
#seedRow {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
#go {
    min-width: 50px;
}
#status {
    border: 1px solid lightgray;
    min-height: 40px;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.8em;
}

@media screen and (max-width:600px) {
    #container {
        flex-direction: column;
    }
}